@font-face{
  font-family: 'Droid Serif';
  src: url('./fonts/DroidSerif.ttf');
}

@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('./fonts/YanoneKaffeesatz.otf');
}

@font-face{
  font-family: 'Ubuntu Mono';
  src: url('./fonts/UbuntuMono.ttf');
}

body { font-family: 'Droid Serif'; }

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
img {
  width: 80vw;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.red {color: red;}

.footnote { 
	font-family: 'Ubuntu Mono';
	position: absolute;
	left: 5%;
	bottom: 5%;
}
